html,
body {
  background: #F5F5F5;
  color: #242424;
  padding: 0;
  margin: 0;
  font-family: MetaProSerif, Georgia, 'Times New Roman', Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.contentHtml {
  & > ul {
    list-style-type: none;
    font-family: MetaProSerif, Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;

    & > li {
      margin-bottom: 1em;

      & > strong {
        font-family: MetaProSerifBold, Georgia, 'Times New Roman', Times, serif;
      }
    }
  }
}

// Add to calendar package overrides
.chq-atc {
  fill: currentColor !important;
}

.chq-atc--dropdown {
  width: auto !important;
}

.chq-atc--dropdown a {
  color: currentColor !important;
}

.chq-atc--button {
  padding-left: 0 !important;
}
